.wrapper
  =render 'shared/chat--side'

.chat--main
  .main--header
    .main--header__box__current--group
      博多部
    .main--header__box__edit--btn
      Edit
    .main--header__box__current--user
      Member : akkun

  .main--spaces
    = render @messages
 
  .input--erea
    .input--erea__box
      = form_for [@group, @message], :html => {:class => '.new_message'} do |f|
        = f.text_field :content, class: 'input--erea__box__comment', placeholder: 'type a message'
        .input--erea__box__imgbtn
          = f.label :image do
            = fa_icon 'image'
            = f.file_field :image, class: 'input--erea__box__imgbtn__file'
        = f.submit 'Send', class: 'input--erea__send'